<% require "google_chart"%>
<div class="form-group">
	<%= content_tag(:label) do %>
		<% unless current_user.voted_for?(@poll) %>
			<%= radio_button_tag 'vote_option[id]', option.id %>
		<% end %>
		<%= option.title %>
	<% end %>
	<%= visualize_votes_for option %>
	<%= GoogleChart::PieChart.new('320x320', "Hello", false) do |chart| %>
		<% chart.data option.title, visualize_votes_for(option) %>
		<%= chart.to_url %>
	<% end %>
</div>